.pre_sale {
    width: 100%;
    height: 800px;
    background-image: url(./../../statics/nft/bg.png);
    background-size: 100%;

    .pre_sale_left {
        text-align: left;
        padding-left: 20%;
        padding-top: 100px;

        p {
            font-size: 22px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #101010;
            margin-top: 30px;
        }

        p {
            &:first-child {
                font-size: 42px;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #101010;
                margin-top: 0px;
            }

            &:nth-child(4) {
                button {
                    width: 272px;
                    height: 53px;
                    line-height: 53px;
                    background: #30549B;
                    border-radius: 27px;
                    font-size: 18px;

                    .ant-switch-inner {
                        text-align: left;
                        font-size: 18px;
                        margin-left: 20px;
                    }

                    .ant-switch-handle {
                        width: 131px;
                        height: 45px;
                        left: 50%;
                        top: 4px;
                        line-height: 45px;
                        background: #FFFFFF;
                        border-radius: 25px;
                    }

                    .ant-switch-handle::before {
                        display: none;
                    }

                    .switchBrefore {
                        left: 0;
                    }
                }

            }

            &:nth-child(6) {
                button {
                    width: 80px;
                    height: 35px;
                    line-height: 15px;
                    background: #30549B;
                    border-radius: 25px;
                    margin-left: 30px;
                    font-size: 18px;
                    color: #fff;
                    text-align: center;

                    span {
                        margin-left: -5px;
                    }

                    &:last-child {
                        background: #FFFFFF;
                        color: #30549B;
                    }
                }

            }
        }

        .add,
        .cut {
            display: inline-block;
            width: 32px;
            // height: 32px;
            line-height: 30px;
            background: #FFFFFF;
            border: 1px solid #30549B;
            border-radius: 50%;
            text-align: center;
            color: #30549B;
            font-weight: bold;
            vertical-align: middle;
            margin: 0 30px;
            cursor: pointer;
            span{
                margin-left: -5px;
            }
        }

        >button {
            width: 180px;
            height: 43px;
            background: #C3003A;
            border-radius: 27px;
            font-weight: 400;
            color: #FFFFFF;
            font-size: 18px;
            margin-top: 20px;
        }

        .sale_img {
            display: none;
        }
    }

    .pre_sale_right {
        padding-left: 50px;
        padding-top: 120px;
        img{
            width: 45%;
            margin-top: 10px;
        }
        p {
            text-align: left;
            margin-top: 30px;
            margin-left: 100px;
        }

    }

}

.nft_introduce {
    padding-left: 20%;
    padding-bottom: 150px;

    p {
        &:first-child {
            font-size: 28px;
        }

        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #010101;
        line-height: 58px;
    }

    >div {
        p {
            span {
                display: inline-block;
                width: 11px;
                height: 11px;
                background: #30549B;
                margin-right: 6px;
            }

            &:first-child {
                font-size: 20px;
            }

            &:nth-child(2) {
                font-size: 18px;
                font-family: Source Han Sans CN;
                font-weight: 300;
                color: #818181;
            }
        }
    }
}

.nft_distribute {
    padding-left: 20%;
    width: 100%;
    height: 571px;
    background-color: #F6F6F6;
    margin: 0 auto;
    overflow: auto;
    text-align: center;

    >p {
        font-size: 28px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #010101;
        text-align: left;
        margin-top: 60px;
    }

    .distribute_left,
    .distribute_right {
        width: 522px;
        height: 322px;
        background-image: url(./../../statics/nft/bg1.png);
        float: left;
        text-align: left;
        padding: 30px;

        P {
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #101010;
            font-size: 20px;
            margin-bottom: 10px;
        }

        >span {
            display: block;
            width: 22px;
            height: 4px;
            background: #30549B;
            margin-bottom: 60px;
        }

        >div {
            font-size: 14px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #818181;

            span {
                display: inline-block;
                width: 30%;
            }
        }

    }

    .distribute_right {
        width: 522px;
        height: 322px;
        background-image: url(./../../statics/nft/bg2.png);
        float: left;
        margin-left: 35px;
        text-align: left;
    }
}

.ntf_dev {
    padding-left: 20%;
    overflow: auto;
    background: url(./../../statics/nft/bg3.png) no-repeat scroll bottom;
    background-size: 100%;

    >p {
        font-size: 28px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #010101;
        text-align: left;
        margin-top: 60px;
    }

    >div {
        width: 100%;
        height: 461px;


        span {
            float: left;
            font-size: 40px;
            margin-left: -80px;
            vertical-align: middle;
            margin-top: 180px;
            color: #FFFFFF;

            &:last-child {
                margin-left: 20px;
            }
        }

        >div {
            width: 241px;
            height: 282px;
            background: #FFFFFF;
            border: 1px solid #DBDBDB;
            border-radius: 8px;
            float: left;
            margin-right: 30px;
            margin-top: 80px;
            padding: 0px 30px;

            P {
                font-size: 18px;
                font-family: Microsoft YaHei;
                font-weight: 400;
                color: #003884;

                &:first-child {
                    text-align: center;
                    margin-top: 40px;
                }

                &:last-child {
                    font-size: 16px;
                    font-family: Microsoft YaHei;
                    font-weight: 400;
                    color: #818181;
                    line-height: 30px;
                }
            }
        }
    }

}

.support_org,
.link_about {
    padding-left: 20%;

    >p {
        font-size: 28px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #010101;
        text-align: left;
        margin-top: 60px;
    }

    img {
        width: 80%;
    }
}

.support_org {
    padding-bottom: 120px;
}

.link_about {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #F6F6F6;
}