.why {
    .ModulesStyle{
        font-size: 40px;
        margin: 50px auto;
        text-align: center;
    }
    .moduleStyle{
      
      display: flex;
      width: 172px;
      height: 108px;
      background: #FFFFFF;
      border-radius: 8px;
      justify-content: space-between;
      align-items: center;
      padding: 2px 5px;
      box-shadow: 1px 1px 1px 2px #f2f2f2;
      margin: 20px 5px;
      .imgStyle{
        float: left;
        text-align: left;
        img{
            width: 35px;
            height: 35px;
          }
      }
      .textStyle{
         display: flex;
         flex-direction: column;
         position: relative;
        .title{
            font-size: 14px;
            font-family: Microsoft YaHei;
            font-weight: bold;
            color: #000000;
            line-height: 14px;
            text-align: left;
            margin-left: 10px;
        }
        .desc{
            line-height: 15px;
            font-size: 12px;
            font-family: Microsoft YaHei;
            color: #8F8F8F;
            text-align: left;
            margin-left: 10px;
        }
      }

    }
    .wefi {
        color: #101010;
        text-align: center;
        font-size: 16px;
        padding-bottom: 90px;
        padding-top: 85px;

        p {
            &:first-child {
                font-size: 40px;

            }
        }

        div {
            span {
                &:first-child {
                    font-size: 80px;
                }

                &:nth-child(2) {
                    font-size: 35px;
                }

                &:last-child {
                    display: block;
                    text-align: left;
                    margin-left: 30%;
                    margin-top: -5%;
                }
            }
        }
    }

    .highlight {
        text-align: center;
        background-color: #1eaaf1;
        padding-bottom: 100px;

        p {
            font-size: 40px;
            color: #fff;
            padding: 60px 0;
        }

        img {
            width: 45%;
        }
    }

    .plateDivision {
        text-align: center;

        p {
            font-size: 40px;
            margin-top: 60px;
        }

        >img {
            display: none;
        }

        div {
            display: block;
            margin-top: 10px;

            img {
                width: 15%;
                // border: 2px dotted #ccc;
                margin-left: 10px;
            }
        }


    }
}